*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #548687;
text-align: center;

}
.box{
    height: 19vmin;
    width: 19vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #f8f8b6;
}
.container{
height: 70vh;

display: grid;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.game{
    height: 60vmin;
display: flex;
width: 60vmin;
gap: 1.5vmin;
margin-top: 10px;
padding-top: 20px;
flex-wrap: wrap;
}
#Reset{
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #191913;
    color: #ffff;
    border-radius: 0.5rem;
}
#newGame{
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #191913;
    color: #ffff;
    border-radius: 0.5rem;
}

#msg{
color: #ffffc7;
font-size: 5vmin;

}
.draw{
color: #ffffc7;
font-size: 5vmin;

}
.msg-content{
    height: 30vmin;
}
.hide{
    display: none;
}
.hide1{
    display: none;
}